<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Login </title>
        <% include partials/head %>
    </head>
    <body>
        <div class="container">
            <div class="text-center mt-5 spacedd">
                <div class="card-body"> 
                    <h1> <span class="fa fa-lock"></span> Iniciar sesión o Registrarse</h1>
                    <br> <br> <br> 
                    <a href="/login" class="btn btn-light">  
                        <span class="fa fa-user"></span> Iniciar sesión
                    </a> <br>
                    <a href="/signup" class="btn btn-light"> 
                        <span class="fa fa-user"></span> Registrarse
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>